.nav {
  padding-top: 70px;
}

.con {
  display: flex;
  gap: 8px;

  padding-left: 48px;
  margin-top: 12px;
}

.btn {
  background-color: #0000002a;
  border-radius: 12px;
  padding: 8px;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 48px;
  margin-bottom: 12px;
}
.btn:hover {
  color: rgb(214, 214, 214);
  background-color: #03020281;
}

.title {
  color: #ffa500;
  font-weight: bold;
}

.text {
  color: rgb(241, 241, 241);
  font-weight: 500;
}

.navcon {
  display: flex;
  gap: 48px;
  padding-left: 60px;
  margin-top: 24px;
  background-color: #ffa500;
  margin-bottom: 20px;
}

.navlink {
  padding: 4px 8px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.navlink:hover {
  background-color: #b37502;
}
